.navegador {
    height: 50vh;
    width: 100%;
    font-size: 35px;
    background-image: url("../img/ciudad.gif");
    background-size: cover;
    display: flex;
    align-items: end;
  }
  
  #fondo {
    background-image: url("../img/nubes.png");
    background-size: cover;
    width: 100%;
    height: 600px;
  }
  
  .card {
    top: 20px;
    right: 1px;
  }
  
  .menu {
    justify-content: center;
  }
  
  .estudio {
    text-align: center;
    font-size: 200%;
    padding: 30px;
    background-color: #759dad;
  }
  
  .experiencia-laboral {
    padding: 30px;
    margin-bottom: 0;
    text-align: center;
    font-size: 200%;
    bottom: 200px;
    background-color: #76c1df;
  }
  
  .port {
    padding: 30px;
    text-align: center;
    font-size: 200%;
    background-color: #759dad;
  }
  
  .tope {
    height: 350px;
    padding: 10px;
  }
  
  .card-img-top {
    height: 100%;
  }
  
  .mb-2 {
    background-color: #759dad;
  }




